# =============================================================================
# DEPRECATION WARNING:
#
# The file `requirements.txt` does not influence the package dependencies and
# will not be automatically created in the next version of PyScaffold (v4.x).
#
# Please have look at the docs for better alternatives
# (`Dependency Management` section).
# =============================================================================
#
# Add your pinned requirements so that they can be easily installed with:
# pip install -r requirements.txt
# Remember to also add them in setup.cfg but unpinned.

etos_lib==4.0.0
etcd3gw~=2.3
pyscaffold~=4.4
uvicorn~=0.22
fastapi~=0.109.1
aiohttp[speedups]~=3.8
gql[requests]~=3.4
httpx~=0.24
kubernetes~=26.1
sse-starlette~=1.6
opentelemetry-api~=1.21
opentelemetry-exporter-otlp~=1.21
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry-sdk~=1.21
